/**/.DS_Store
/Tools/Data/*_Settings.tcl
/Videoarchiver
/LWDAQ.app/Contents/LWDAQ/Toolmaker.tcl
/LWDAQ.app/Contents/LWDAQ/Packages/pkgIndex.tcl
/Build/*.o
/Build/*.so
/Build/*.dylib
/Build/*.dll
/Build/*.ppu
/Build/*.exe
