/**/.DS_Store
/Tools/Data/*.tcl
/LWDAQ.app/Contents/LWDAQ/Toolmaker.tcl
/LWDAQ.app/Contents/LWDAQ/Packages/pkgIndex.tcl
/LWDAQ.app/Contents/LWDAQ/Configuration/*.tcl
/LWDAQ.app/Contents/LWDAQ/Temporary/*.tcl
/Build/*.o
/Build/*.so
/Build/*.dylib
/Build/*.dll
/Build/*.ppu
/Build/*.exe
/LWDAQ.app/Icon?
