[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=%P/lwdaq
Name=LWDAQ
GenericName=Data Acquisition Program
Path=%P
Icon=%P/LWDAQ.app/Contents/Linux/LWDAQ.png
