<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	
	<key>CFBundleSupportedPlatforms</key>
	<array>
	  <string>MacOSX</string>
	</array>
	
	<key>CFBundleExecutable</key>
	<string>Wish</string>
	
	<key>NSHumanReadableCopyright</key>
	<string>LWDAQ Software, Copyright © 2003-2025 Kevan Hashemi</string>
	
	<key>CFBundleIconFile</key>
	<string>LWDAQ.icns</string>
	
	<key>CFBundleIdentifier</key>
	<string>com.opensourceinstruments.lwdaq</string>
	
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	
	<key>CFBundleName</key>
	<string>LWDAQ</string>
	
	<key>CFBundleDisplayName</key>
	<string>LWDAQ</string>
	
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	
	<key>CFBundleShortVersionString</key>
	<string>10.7</string>
	
	<key>CFBundleVersion</key>
	<string>10.7.5</string>
	
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	
	<key>NSHighResolutionCapable</key>
	<true/>	
	
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
</dict>
</plist>
